:root {
  --main: #f26457;
  --second: #f2eadf;
  --font-main: #483938;
  --font-second: #736463;
}

* {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  padding: 0px;
  margin: 0px;
}

nav {
  background-color: var(--second);
  padding: 1em;
  padding-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-bar {
  width: 800px;
  display: flex;
  flex-direction: row-reverse;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 24;
  font-size: 40px;
  color: var(--main);
}

.hero {
  background-color: var(--second);
  padding: 0em 10em;
  margin-bottom: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-inner {
  max-width: 1200px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  text-align: left;
}

.hero-content {
  padding: 5em 0;
  padding-top: 3em;
  width: 730px;
}

.hero h1 {
  font-family: "Inter", serif;
  font-weight: 900;
  color: var(--font-main);
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero h1 span {
  color: var(--main);
}

.hero p {
  font-size: 1rem;
  margin: 0;
  font-family: Inter;
  color: var(--font-second);
}

.hero button {
  font-family: "Inter", serif;
  font-weight: 900;
  padding: 15px 30px;
  font-size: 1.2rem;
  background-color: var(--main);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 56px;
}

.hero button:hover {
  background-color: #45a049;
}

.hero img {
  width: 80%;
  height: 80%;
  margin-bottom: -150px; /* Overlapping the background */
}

.highlight {
  padding: 0 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-highlight {
  max-width: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin: 0;
  text-align: left;
}

.products {
  display: flex;
}

.product {
  background-color: var(--second);
  width: 300px;
  height: 214px;
  margin: 1em;
}

h2 {
  color: var(--font-main);
  font-size: 2.5rem;
  font-family: Inter;
  font-weight: 700;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.product img {
  height: 249.78px;
  width: 200px;
  margin-top: -200px;
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-name {
  font-family: Inter;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--font-second);
  margin-bottom: 8px;
}

.price {
  font-family: Inter;
  font-size: 1rem;
  font-weight: 200;
  color: var(--font-second);
}

.shopping-basket {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 52px;
  background-color: var(--main);
  border-radius: 5px;
  margin-left: -190px;
  margin-bottom: -120px;
}

.shopping-basket .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 24;
  font-size: 29px;
  color: white;
}

.products-section {
  padding: 0 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10em;
}

.inner-products-section h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 4em;
}

.inner-products-section .products {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.inner-products-section .products .product {
}

/* Swap order on mobile */
@media (max-width: 768px) {
  .hero {
    padding: 1.5em;
    margin-bottom: 50px;
  }
  .hero-inner {
    flex-direction: column;
  }

  .hero-content {
    padding: 0;
    width: 100%;
  }

  .hero img {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .inner-highlight {
    flex-direction: column;
  }

  .inner-highlight h2 {
    margin-bottom: 150px;
  }

  .products {
    flex-direction: column;
  }

  .products .product:nth-child(2) {
    margin-top: 10em;
  }
}
